.localInfo{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    margin-top: 60px;
    flex-direction: column;
}
.imagemLocal img{
    height: 600px;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.locals{
    display: flex;
}

.pickDestination{
    color: #fff;
}

.pickDestination span{
    font-weight: 600;
    color: #999f;
    font-family: Verdana;
}

.localName{
    color: #FFF;
    font-weight: 300;
    font-size: 110px;
    display: flex;
    justify-content: start;
    width: 100%;
}
.localText{
    color: #FFF;
    font-size: 20px;
    width: 60%;
    font-weight: 300;
    border-bottom:solid 1px #ffff;
    padding-bottom: 30px;
    opacity: 0.8;
}


.underInfos{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 70px;
}

.localDistance{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
}

.avg{
    color: #FFFf;
    font-size: 16px;
    text-transform: uppercase;
}

.distance{
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
}


@media(max-width:1490px){
    .bothSides,.leftSide,.rightSide,.underInfos,.localInfo,.localName,.titleDestination{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
    }
    .leftSide img{
        width: 300px;
        margin:15px 0px;
    }
    .locals{
        display: flex;
    }
}